// mixin_02.scss

@mixin fullBox($w:100%, $h:100%, $bg:$spC){
	width: $w; height: $h; margin: auto; background-color: $bg;
} //mixin fullBox

//UNIT PX & REM 변환
$rootUnit: 16;
@function unit($u){
 @return $u / $rootUnit;
} //@function(unit)

@mixin convUnit($pro,$u){
 #{$pro}:$u + px;
 #{$pro}:unit($u) + rem;
}

@mixin image($i, $w:100%, $h:100%, $r: no-repeat, $p: 50% 50%, $s:contain){
	//display: block; 
	width: $w; height: $h;
	background-image: url($url + $i);
	background-repeat:$r;
	background-position: $p;
	background-size: $s;
	@content;
}

//숨기는 영역 처리하기
@mixin hidden(){
	display: block; position: absolute;
	z-index: -10; width: 0; height: 0; overflow: hidden;
}