/* slide_indi_n_btn.css */

@import "./_basic/var";
@import "./_basic/_mixin_02";

#slide_01{width: 400px; height: 350px; margin:auto; background-color: $gy; }
#slide_02{width: 800px; height: 800px; margin:auto; }
