@charset "UTF-8";
/*main.css */
/* @include horizontal_slide_banner('.my_banner,4'){
	$url:'../img/mybanner/';
	$imgName: 'mybanner_';
	$count:4;
	@include horizon_banner_img($count, $imgName, $url:$url, $file:'png');
	기타 div 및 하위내용삽입
} */
#wrap { width: 100%; height: 100%; background-color: #0de; }

/* slide_02 */
#conBox { margin-top: 100px; }

.slide_wrap { position: relative; width: 100%; height: 800px; margin: auto; }

.con_btn { position: absolute; bottom: 100px; right: 50%; z-index: 10; margin-right: -380px; width: auto; height: 30px; }

.con_btn button { display: block; float: left; width: 30px; height: 30px; margin-right: 10px; line-height: 30px; font-size: 1.4rem; background-color: transparent; }

.con_btn .next { float: right; margin-right: 0; }

.con_indicator { position: absolute; bottom: 105px; right: 50%; z-index: 10; margin-right: -240px; width: auto; min-width: 140px; height: 20px; }

.con_indicator > ul { width: 100%; height: 100%; }

.con_indicator > ul > li { float: left; width: auto; height: 20px; margin-right: 10px; }

.con_indicator > ul > li:last-child { margin-right: 0; }

.con_indicator > ul > li a { display: block; width: 20px; height: 100%; border-radius: 20px; overflow: hidden; background-color: #ded; }

.con_indicator > ul > li a:hover { background-color: #aec; }

.con_indicator > ul > li a.active, .con_indicator > ul > li a:focus { width: 80px; outline: none; background-color: #ce3; }

.slide_form { width: 100%; height: 100%; }

.slide_form .guide { position: relative; top: 0; left: 0; width: 300%; height: 100%; }

.slide_form .guide > li { position: relative; float: left; overflow: hidden; width: 33.33333%; height: 100%; }

.slide_form .guide > li:nth-child(1) { background-color: #cccccc; }

.slide_form .guide > li:nth-child(2) { background-color: #999999; }

.slide_form .guide > li:nth-child(3) { background-color: #666666; }

.slide_form .guide > li > h3 { position: absolute; top: 40%; right: 0; margin-right: 200px; z-index: 10; width: 500px; height: 300px; color: #fff; }

.slide_form .guide > li > h3 > strong { display: block; width: 500px; font-size: 2.5rem; word-break: keep-all; }

.slide_form .guide > li > span { position: absolute; display: block; bottom: -50px; right: -40px; width: 850px; height: 800px; transform: rotate(-5deg); background-image: linear-gradient(90deg, #a1f, transparent); }
