@charset "UTF-8";
/* paul_01.css */
/* @include horizontal_slide_banner('.my_banner,4'){
	$url:'../img/mybanner/';
	$imgName: 'mybanner_';
	$count:4;
	@include horizon_banner_img($count, $imgName, $url:$url, $file:'png');
	기타 div 및 하위내용삽입
} */
/* line 7, scss/paul_01.scss */ #wrap { width: 100%; height: 100%; background-color: #fa0; }

/* line 9, scss/paul_01.scss */ #conBox2 { width: 100%; height: 100%; background-color: #996600; }

/* line 10, scss/paul_01.scss */ #conBox3 { width: 100%; height: 100%; background-color: black; }

/* line 11, scss/paul_01.scss */ #footBox { width: 100%; height: 100%; background-color: #332200; }

/* line 3, scss/_temp/_paul_headBox.scss */ h1 a { display: none; }

/* line 3, scss/_temp/_paul_viewBox.scss */ #viewBox { position: relative; width: 100%; height: 100%; background-color: #ffcc66; }

/* line 4, scss/_temp/_paul_viewBox.scss */ #viewBox > h2 { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

/* line 5, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator { position: absolute; right: 1.5rem; top: 0; bottom: 0; z-index: 500; margin: auto; width: 150px; height: 130px; background-color: rgba(255, 255, 255, 0.4); }

/* line 7, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator > p { width: 100%; height: 70px; font-size: 3rem; padding-bottom: 10px; color: #fff; text-align: center; }

/* line 9, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator > p > em { font-style: normal; font-weight: 900; }

/* line 10, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator > p > em:after { content: "/"; font-size: 2.5rem; }

/* line 11, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator > p > span { font-size: 1.5rem; color: #cccccc; }

/* line 12, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn { width: 100%; height: auto; }

/* line 13, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn > button { width: 40%; height: 40px; float: right; background-color: transparent; font-size: 2rem; text-shadow: 0 0 0 rgba(51, 51, 51, 0.2); }

/* line 15, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn > button:last-of-type { float: left; }

/* line 16, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn > button > span { display: block; position: absolute; z-index: -10; width: 0; height: 0; overflow: hidden; }

/* line 17, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn > button:hover, #viewBox .indicator .view_btn > button:focus { color: #f06; }

/* line 18, scss/_temp/_paul_viewBox.scss */ #viewBox .indicator .view_btn > button.action { color: #f06; }

/* line 19, scss/_temp/_paul_viewBox.scss */ #viewBox .fake_btn { position: absolute; width: 100%; height: 100%; bottom: 0; cursor: pointer; }

/* line 20, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form { width: 100%; height: 100%; background-color: rgba(51, 51, 51, 0.2); }

/* line 21, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul { width: 100%; height: 100%; }

/* line 22, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li { position: absolute; top: 0; left: 0; width: 100%; height: 100%; word-break: break-all; white-space: nowrap; font-size: 5rem; font-weight: 900; color: #fff; text-shadow: 0 0 0.2rem rgba(51, 51, 51, 0.5); box-sizing: border-box; padding: 5vw; /* transition: all 500ms ease;  */ background-repeat: no-repeat; background-position: 100% 50%; background-size: 150%; }

/* line 30, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl { width: 100%; height: 50%; padding-top: 8vw; }

/* line 31, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl dt { opacity: 0; font-size: 6.5rem; text-transform: capitalize; /* &.action{display:block; opacity:1; transform: translateY(-10px)} */ }

/* line 33, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl dd { opacity: 0; font-size: 1.3rem; text-shadow: none; margin: 5rem 0; /* &.con.action{display: block; opacity: 1; transform: translateY(-10px)} */ }

/* line 35, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl dd.link { text-transform: uppercase; text-decoration: underline; /* &.action{display: block; opacity: 1; transform: translateY(-10px)} */ }

/* line 38, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl.action dt, #viewBox .slide_form > ul > li > dl.action dd.con, #viewBox .slide_form > ul > li > dl.action dd.link { display: block; opacity: 1; transform: translateY(-50px); }

/* line 39, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl.action dt { transition: all 500ms ease 100ms; }

/* line 40, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl.action dd.con { transition: all 500ms ease 300ms; }

/* line 41, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li > dl.action dd.link { transition: all 500ms ease 500ms; }

/* line 43, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li:nth-child(1) { background-color: #11ff11; }

/* line 44, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li:nth-child(2) { background-color: #00aa00; }

/* line 45, scss/_temp/_paul_viewBox.scss */ #viewBox .slide_form > ul > li:nth-child(3) { background-color: #004400; }

/* line 3, scss/_temp/_paul_conBox.scss */ #conBox { width: 100%; height: 100%; background-color: #ccc; }

/* line 4, scss/_temp/_paul_conBox.scss */ #conBox > button { width: 100px; height: 40px; background-color: #0c9; }

/* line 5, scss/_temp/_paul_conBox.scss */ #conBox > .bar { width: 100%; height: 100px; background-color: #fa0; background-image: linear-gradient(90deg, #fa0, #0c9); }
