// sample.scss
/*sample.css*/

@import "var";
//동일한 확장자라서 .scss생략가능
//_ 생략가능

//$ = 변수
h2 {width: $full; height: $full;
	background-color: rgba($bg1, 0.5);
	color:lighten($bg1, 90%);
	border: 2px solid nth($color,-1); 
	font-size: bold;
	} 
.list_01 {background-position: 0 0;}
.list_02 {background-position: 0 10px;}
.list_03 {background-position: 0 40px;}
.list_04 {background-position: 0 100px;}

/* ======================= */
$myp : (0, 10px, 40px, 100px);
@for $i from 1 to length($myp)+1 {
	.list_0#{$i}{background-position: 0 nth($myp, $i);}
}

$url : "../../img/myi/content/product/";
$myp : ('food.jpg','nat.jpg','cup.jpg');

@for $i from 1 to length($myp)+1{
	.myp-#{$i}{background-image: url($url+nth($myp,$i));}
}