// test.scss (scss에서 사용하는 주석)
/* test.scss (css랑 같이 사용되는 주석) */

$color :#fca;
$border: 1px solid $color;
$colors :($color, #111, #acf);

body{width: 100%; height: 100%;}
h1{background-color: $color;}
h2{border: $border; background-color: nth($colors,2);}