@charset "UTF-8";
/*agreement.css*/

#wrap {width: 460px; height: auto; margin: auto;}
#wrap>h1{width: 100%; height: auto; margin-bottom: 1rem;
	text-align: center;}
 form{width: 100%; height: auto;}
#wrap fieldset:first-of-type{width: 100%; height: auto; min-height: 50px;}
.check{width: 100%; height: auto; min-height: 50px; margin-bottom: 20px;}
.check:last-of-type{margin-bottom: 0;}

.check strong{font-size: 0.875rem; font-weight: normal; color: #08A600;}
.check em{font-size: 0.875rem; font-weight: normal; color: #777}

/* 전체동의 체크시 */
label{cursor: pointer;}

.all_check{position: relative;
	padding-left: 40px;}
.all_check>p{text-decoration: underline;
	text-underline-position: under;}
.check.all_check i{position: absolute; top: 5px; left: 0;
	font-size: 2rem; color: #777; cursor: pointer;}

.all_check>input:focus+p i{color: #333; }
.all_check>input:checked+p i{color: #08a600}

/* 각각의 동의 체크시 */
.check i {font-size: 1.2rem; cursor: pointer;
	color: #aaa;}
.check>input:focus+dl i,
.check>input:checked+p i{color: #333; }
.check>input:checked+dl i,
.check>input:checked+p i{color: #08a600;}

.check>input{overflow: hidden;
	position: absolute; z-index: 0;
	width: 0; height: 0; border: 0;}


/* ================= */
.check>p{font-size: 1rem; font-weight:bold;
	word-break: keep-all;
	letter-spacing: -0.05rem;}
.check>dl{width: 100%; height: auto;
	margin-bottom: 20px;}
.check>dl>dt{font-size: 1rem; font-weight:bold;
	word-break: keep-all;
	letter-spacing: -0.05rem;}
.check>dl>dd{overflow-x:hidden; overflow-y: auto;
	width: 100%; height: 90px; 
	margin: 5px 0; padding: 10px;
	border: 1px solid #555; box-sizing: border-box;	
	background-color: #fff;}


/* ================= */
#wrap fieldset:last-of-type{width: 100%; height: auto; min-height: 50px;
	margin-top: 30px;}
#wrap fieldset:last-of-type>input{width: 220px; height: 60px;
	color: #fff; border: 0; font-size: 1.5rem;}
fieldset:last-of-type>input:focus{outline: 3px solid #333;
	font-weight: bold; text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: brown}
input[type="reset"] {float: left; background-color: #555;}
input[type="submit"] {float: right; background-color: #08A600;}
#wrap fieldset:last-of-type>p{width: 100%;height: auto;
	padding-top:20px; clear: both; font-size: 0.875rem;
	text-align: center; }
#wrap fieldset:last-of-type>p a{font-weight: bold;
	text-decoration: underline;}


