//coke_01_var.scss


$bc: (#fff,#eee,#ddd,#ccc,#bbb,#aaa,#999,#888,#777,#666,#555,#444,#333,#222,#111);
// 로고색깔, 메인색깔, 흰색
$mc: (#f40000, #be1e2d, #fff);
@mixin whp{
	width: 100%; height:  100%;}
// 회색일때 기본배경 
@mixin bbg($c){
	background-color:nth($bc, + $c);}
@mixin mc($c){
	background-color:nth($mc, + $c);}
