@charset "UTF-8";
/*gcass_result.css*/




#wrap {width: 980px; height: 850px;}
.temp {position: relative; width: 100%; height: auto; 
  padding-top: 30px;}
.temp:after,
.temp::after {content: " "; display: block;
  clear: both;}
#headBox {float: left; width: 250px; height: 710px;
  padding: 50px 50px 100px 20px; box-sizing: border-box;
  background-color: #777;}
#headBox>h1 {width: 100%; height: 110px;}
 h1>a {/*display: block; width: 100%; height: 100%;*/
 background-image: url(../../img/gcass_logo.png);
 background-repeat: no-repeat;
 background-position: 50% 50%;}
 /*h1>a>span CLASS HIDDEN 처리*/

 #gnb{width: 100%; height: auto;
  margin-top: 35px;}
 #gnb>ul{width: 100%; height: auto;}
 #gnb>ul>li{width: 100%; height: 40px;
  margin-bottom: 24px;}
 #gnb>ul>li:nth-last-child(2){margin-bottom: 10px;}
 #gnb>ul>li:last-child{height: 112px; 
  margin-bottom: 0;}
 #gnb>ul>li>a{/*display: block; 
  width: 100%; height: 100%;*/ background-color: #caa;}
 /*#gnb>ul>li>a>span{} CLASS HIDDEN처리*/

/* viewBox======================== */
#viewBox {float: right; width: 730px; height: 710px;
  padding: 50px; box-sizing: border-box;
  background-color: #adadad;}
 .view_link {float: right; width: 610px; height: 595px;
  background-color: #fff;}
 .view_link>a {/*display: block; */
  position: relative;
  /*width: 100%; height: 100%;*/}
 .com_img {position: absolute; bottom: 0; left: 0; 
  width: 330px; height: 520px;
  background-color: #ccc;}
 .text_img {float: right; width: 353px; height: 554px;
  background-color: #fac;}
/* sideBox===========================*/
#sideBox {position:absolute; top: 0; left: 0; 
  width: 100%; height: 30px; 
  background-color: #888;}
 .lnb {float: right; width: 435px; height: 100%;}
 .lnb>li {float: left; width: 96px; height: 100%;
  background-color: #acc;}
 .lnb>li:last-child {width: 243px;}
 .lnb>li>a {display: block; width: 100%; height: 100%;}
 /*.lnb>li>a>span CLASS HIDDEN 처리*/

/*footBox======================*/
#footBox {position: relative;
  width: 100%; height: 110px;
  padding: 15px 40px 25px; 
  box-sizing: border-box;
  background-color: #f7f;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 0.75rem; line-height: 120%;
  font-weight: normal;}
  #footBox:before{content: " "; display: block;
  position: absolute; top:0; left: 0;
  z-index: 100;
  width: 100%; border-top: 1px solid #999;}
#footBox>h2 {float: left;
  width: 72px; height: 50px;
  margin-right: 46px;
  background-color: #eed;}
 .info {float: left;
  width: 70px; height: 50px;
  margin-right: 26px;
  padding-top: 15px; box-sizing: border-box;
  background-color: #acf;}
 .info>li{float: left; width: 45%; height: 100%;}
 .info>li:last-child{float: right;}
 .info>li<a{}

 .info_company {float: left;
  width: 340px; height: 50px;
  background-color: #fed;}
 .info_company>p{}

 .family_area {position: relative; float: right;
  width: 300px; height: 150px;
  margin-top: -66px;
  background-color: #edf;}
 .family_area>dl{width: 100%; height: auto;
  font-size: 1rem; text-indent: 1rem;}
 .family_area>dl:after,
 .family_area>dl::after {content: " ";
    display: block; width: 0; height: 0; clear: both;}
 .family_area>dl>dt{position: relative; 
    float: left;
    width: 96px; height: 50px;
    background-color: #555; color: #fff;
    letter-spacing: -0.1rem;}
 .family_area>dl>dd{position: relative; 
    float: left; 
    width: 204px; height: 50px;
    background-color: #fff30d; color: #555;}
 .family_area>dl>dt:nth-of-type(1),
 .family_area>dl>dd:nth-of-type(1) {height: 51px;}

 .family_area>dl>dt:after,
 .family_area>dl>dt::after{content: "\f0da"; 
  display: block; position: absolute;
  top: 0; bottom: 0; margin: auto; right: 5px;
  width: 12px; height: 12px; color: #fff;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;  text-indent: 0.2rem;
  font-size: 1rem;
/*  background-image: url(../../img/family_arrow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;*/}

  

 .family_area>dl>dd>a {display: block;
  width: 100%; height: 100%;}
 .family_area dl span {display: block;
  position: absolute; top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%; height: auto;
  text-transform: uppercase;}
 .family_area>hr{z-index: -1}
 .family_area>p{width: 100%; height: 20px;
    margin-top: 5px; text-align: right; }

/*transform: 형태를 변형 시키는 기능을 가지고 있다.
    x,y,z축 모두 변형이 가능 (하나씩줄수있고 3d로도 가능)
    translate() | rotate(deg) | skew(deg) | scale(1)
    rotate 기본축이 Z축이댜...
    scale 1 = 100%
-------------
  transform-orgin: 형태를 변형시킬때의 축을 설정하는것.;
  perspective: transform 사용된 부모요소에서 설정하는것으로
  원근법을 적용할지 체크;
    */