@charset "UTF-8";
/*nhc_go_kr_main.css*/

@import url("./nhc/nhc_01_wrap.css");
@import url("./nhc/nhc_02_header.css");
@import url("./nhc/nhc_03_main.css");
@import url("./nhc/nhc_04_footer.css");

/*import에다가 적으면 안먹어서... 
따로 만들어야함*/

/* 16px = 100% = 12px = 1em =1rem
1rem "explore은 안먹는다.

 wai-aria
aria-hidden="true" -> 음성차단

letter-spacing 글자의 사이 
word-spacing 단어단어 사이

noto sans 본고딕

RESET FONT 
font-family: "Noto Sans KR", sans-serif;
font-family: "myriad pro", "돋움", sans-serif;
font-family: myriad, "돋움", sans-serif;
명조: serif
고딕: sans-serif;


*/
/*예습 
font (font-sizing / line-height)
transform:translateX ;
일회성 transition
*/
/* 천연기념물 SUMMARY
width: 1900px; height:3560px; = 고정X - auto시작/중간에서 변경 
CSS 속성 선언 순서가 있다. (다룸등)
banner "핵심적인 내용 / 해더 네비게이션등 사용할때"
id = headBox
class = head_box
rgba() 16진수가 아니라 10진수로 표시하는거 
rgba(255,255,255,0.7) 투명도
bgc 숫자 background-color
w숫자  tab
서브라임 ctrl+alt+enter 두문자
v코드 shift ctrk p 두문자 - wrap(emmet) 선택 < 창나옴
position:abosute, fixed을 사용하면 float을 사용X 독립되어서..
웹사이트 100%로 사용안할경우 12로 햇을때 소수점이 나오는게 맞댜..
	디바이스로 해서 확인
 div#wrap
 ul>li>a
 */


/*행간 line-height
방법1. padding-top 패팅주는방법
방법2. 
*/
/*dl>dt+dd*/
/*.gage + {dl>(dt+dd)}*/

/*css
.gate{}
.gate + dl{} 인접선택자
.gate ~ dl{} 형제선택자
	.gate의 동생 dl을 선택: dl은 동생 중의 순서는 상관없다
 [html]
    <div class="gage"></div>
     <dt></dt>
     <dd></dd>

 [css]
  .gage {width: 215px; height: 215px; 
  	margin-bottom: 20px;
  	background-color: #ccc;}
  .gage + dl {width: 215px; height: 150px; background-color: #888;}

 +을 할때 div밑에 바로 있어서 먹히고 
 div 밑에 p나 다른것이 잇으면 안먹는다.

 그런 ~하면 먹는다. 
	*/


/*text-shadow: X, Y, blur, color
	text-shadow: 0.2rem,0.2rem,0.2rem,rgba(0,0,0,0.7);*/



/* 중요!!!!
position 사용시 가운데 배치하는방법
 방법1-1) margin:auto; top:0; bottom:0; =>위,아래 가운데
 방법1-2) margin:auto; left:0; right:0; => 좌, 우 가운데

값이 정해졌을경우
 방법2-1) 높이값이 정해져 있을경우	 top:50%; margin-top: -높이값의 절반크기; 위, 아래 가운데
 방법2-2) 가로값이 정해져 있을경우	 left:50%; margin-left: -가로값의 절반크기; 좌, 우 가운데

최신브라우저일경우
 방법3-1) top:50%; transform:translateY(-50%); 위, 아래 가운데
 방법3-2) left:50%; transform:translateX(-50%); 좌,우 가운데
*/






