@charset "UTF-8";
/*nhc_go_kr_main.css*/

/*예습 
font (font-sizing / line-height)
transform:translateX ;
*/
/* 천연기념물 SUMMARY
width: 1900px; height:3560px; = 고정X - auto시작/중간에서 변경 
CSS 속성 선언 순서가 있다. (다룸등)
banner "핵심적인 내용 / 해더 네비게이션등 사용할때"
id = headBox
class = head_box
rgba() 16진수가 아니라 10진수로 표시하는거 
rgba(255,255,255,0.7) 투명도
bgc 숫자 background-color
w숫자  tab
서브라임 ctrl+alt+enter 두문자
v코드 shift ctrk p 두문자 - wrap(emmet) 선택 < 창나옴
position:abosute, fixed을 사용하면 float을 사용X 독립되어서..
웹사이트 100%로 사용안할경우 12로 햇을때 소수점이 나오는게 맞댜..
	디바이스로 해서 확인
 div#wrap
 ul>li>a


*/

/* 중요!!!!
position 사용시 가운데 배치하는방법
 방법1-1) margin:auto; top:0; bottom:0; =>위,아래 가운데
 방법1-2) margin:auto; left:0; right:0; => 좌, 우 가운데

값이 정해졌을경우
 방법2-1) 높이값이 정해져 있을경우	 top:50%; margin-top: -높이값의 절반크기; 위, 아래 가운데
 방법2-2) 가로값이 정해져 있을경우	 left:50%; margin-left: -가로값의 절반크기; 좌, 우 가운데

최신브라우저일경우
 방법3-1) top:50%; transform:translateY(-50%); 위, 아래 가운데
 방법3-2) left:50%; transform:translateX(-50%); 좌,우 가운데
*/

/*RESET CSS=======================*/


/*COMMON CSS=======================*/
.clearfix:after,
.clearfix::after {content:" "; display: block; clear: both;
	width: 0; height: 0; }

.hidden {display: block; overflow: hidden; position: absolute;
	width: 0; height: 0; }

/*DESIGN CSS=======================*/

/*wrap================================*/
#wrap {width: 100%;min-width: 1200px; height: auto; margin: auto;}

/*headBox================================*/
#headBox {position: relative;
	width: 100%; height: auto; padding-top: 40px;}

 .banner_area {position:relative; width: 100%; height: 80px; background-color: #fff;}
	h1 {float: left;
		width: 280px; height: 80px; background-color: #aaa;}
	#gnbBox {position: absolute; top: 0; left: 0; right: 0; margin: auto;
		width: 950px; height: 80px; 
		background-color: #ccc;}
	.site_map {float:right; 
		width: 240px; height: 80px; background-color: #bbb}

 .unb_area {position: absolute; top: 0; left: 0;
 		width: 100%; height: auto; background-color: #888;}
	.unb {float: right; 
		width: 350px; height: 40px; 
		padding: 0 65px; box-sizing: border-box;
		background-color: #eee;}



/*conBox================================*/
#conBox {width: 100%; height: auto;}

 .page_scroll {position: fixed; right: 20px; top:0; bottom: 0; z-index: 500;
  	width: 40px; height: 230px; margin: auto; border-radius: 15px; 
  	background-color: rgba(0,0,0,0.7);}
 .page_scroll>ul {width: 20px; height: 148px; margin: auto; padding-top: 10px;}
 .page_scroll>ul>li {width: 20px; height: 20px; margin-bottom: 20px;}
 .page_scroll>ul>li:last-child{margin-bottom: 0px;}
 .page_scroll>ul>li>a {display: block; width: 100%; height: 100%;
 		border: 2px solid #fff; box-sizing: border-box; 
 		border-radius: 100%}

 
 .page_scroll>ul>li>a:focus{outline: none; background-color:#fff;}
 .page_scroll:after,
 .page_scroll::after{content: " "; display: block; 
 		position: absolute; left: 0; right: 0; margin: auto;
 		width: 20px; height: 55px; border-radius: 5px; border: 2px solid #fff;
 		animation:mouseMv 700ms linear alternate infinite;}

 	@keyframes mouseMv {
 		0% {bottom: 15px;}
 		100% {bottom: 5px;}
 	}

 .view_area {width: 100%; height: 855px; background-color: #ddd;}
 .con_area {width:100%; padding-top: 45px; box-sizing: border-box;}
 .con_area>h3 {width: 100%; height: 60px; 
 		margin-bottom: 17px;
 		text-align: center; font-size: 60px; line-height: 60px;
 		background-color: rgba(255,255,255,0.7);}
 .con_area>p {width: 100%; height: 28px; 
		text-align: center; font-size: 24px; line-height: 28px;
 		background-color: rgba(255,255,255,0.3)}

 .news_area {height: 895px; background-color: #ccc;}
 		.news_area>.content {width: 1200px; height: 650px; 
 			margin: auto; margin-top: 30px;
 			background-color: #aaa}
 .video_area {height: 850px; background-color: #bbb;}
 		.video_area>.media {width: 950px; height: 530px; 
 			margin: auto; margin-top: 30px;
 			background-color: #ccc;}
 .counter_area {height: 710px; background-color: #aaa;}
 		.counter_area>.content {width: 1100px; height: 390px; 
 			margin: auto; margin-top: 80px;
 			background-color: #eee;}

 .top_button {position: fixed; bottom: 50px; right: 20px; z-index: 500px;
 		width: 54px; height: 54px; 
 		border: 2px solid #ccc; box-sizing: border-box;
 		background-color: #fff; border-radius: 13px;}
 .top_button>a {display: block; width: 100%; height: 100%; 
 		border-radius: 10px;}
  .top_button>a:focus{outline: none; background-color:#ccc;}



/*footBox================================*/
#footBox {width: 100%; height: auto; 
	padding-top: 20px; padding-bottom: 60px;
	background-color: #555;}
	#footBox>.content {width: 1200px; height: 90px; 
		margin:auto;
		background-color: #fff;}
