/*sample.css*/
h2 {
  width: 80%;
  height: 80%;
  background-color: rgba(17, 17, 17, 0.5);
  color: #f7f7f7;
  border: 2px solid #f06;
  font-size: bold; }

.list_01 {
  background-position: 0 0; }

.list_02 {
  background-position: 0 10px; }

.list_03 {
  background-position: 0 40px; }

.list_04 {
  background-position: 0 100px; }

/* ======================= */
.list_01 {
  background-position: 0 0; }

.list_02 {
  background-position: 0 10px; }

.list_03 {
  background-position: 0 40px; }

.list_04 {
  background-position: 0 100px; }

.myp-1 {
  background-image: url("../../img/myi/content/product/food.jpg"); }

.myp-2 {
  background-image: url("../../img/myi/content/product/nat.jpg"); }

.myp-3 {
  background-image: url("../../img/myi/content/product/cup.jpg"); }
