/* TV 1920px~ =============== */
/* media screen and (min-width: 1920px) */
@media screen and (min-width: 1920px) {
  .head_area {
    max-width: 1280px; }
  #brandBox > p {
    width: 20%;
    height: auto; } }
