@charset "UTF-8";
/*woori.css*/

#wrap {width: 100%; height: 100%; margin: auto;	background-color: #18f;}

#headBox {position: fixed; left:0; top: 0; z-index: 500; width: 100%; min-width: 865px; height: auto;
	background-color: #fff;}

h1 {width: 300px; height: 60px; margin: 10px 20px; 
	background-image: url(../../img/logo2.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;}
h1>a {display: block; width: 100%; height: 100%;}
nav {width: 100%; min-width: 865px; height: auto; background-color: #fff; border-top: 1px solid #ccc;
	box-sizing: border-box;}
nav>ul {position: relative; left: 0; right:0; margin: auto;
	width: 90%; min-width: 865px; height: auto;}
nav>ul:before,
nav>ul::before{content:" "; display: block; position: absolute; left:-50vw; top:65px; z-index: 100;
	width: 500vw; height: 0; border-bottom: 1px solid #ccc;} 
nav>ul:after,
nav>ul::after {content:" "; display: block;	width: 0; height: 0; clear:both;}
nav>ul>li {float: left; width:18%; height: auto; margin: 0 5px;}

nav dl{width: 100%; height: auto;}
nav dl>dt {position: relative; width: auto; height: auto;}
nav dl>dt>a {display:block; width: 100%; height: 65px;
	text-align: center;	line-height: 65px; font-weight: bold; font-size: 1.3rem;}
nav dl>dt:after,
nav dl>dt::after{content:" "; display: block; position: absolute; right:0; top:0; bottom: 0;
	margin:auto; z-index: 100; width: 0; height: 35%; border-right: 2px solid #ccc;}
nav li:last-child dl>dt:after,
nav li:last-child dl>dt::after{content:" "; display: none;} 
.action, nav dl>dt>a:hover,nav dl>dt>a:focus{color: #18f;} 
nav dl>dd {display:none; width: 100%; height: auto; margin-top: 25px;}
nav dl>dd>a {display: block; width: 100%; height: 40px;	margin-bottom:2px; line-height: 40px; text-indent: 100px;}
nav dl>dd>a:last-child {margin-bottom: 27px;}
nav dl>dd>a:hover,nav dl>dd>a:focus{color: #18f; text-decoration: underline;}
